body {
    background: #DCDCDC ;
    font-size: 12pt;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    overflow: scroll;
    overflow-x: hidden;
}
p {
  font-size: 11pt;
}

form {
  text-align: center;
  padding: 10px;
}

#space1 {
  padding: 20px;
}
#space2 {
  padding: 35px;
}
#space3 {
  padding: 50px;
}

#logo {
  font-size: 35pt;
  text-align: left;
  width: 100%;
  border-top: 5px double #000;
  border-bottom: 5px double #000;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  background: url('./resources/map_cropped.jpeg') no-repeat;
  background-size: 100%;
}

#nav {
  color: #ffffff;
  font-size: 10pt;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 5px;
}

#home {
  color: #000000;
}

#home:hover{
  color: #000000;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 5px;
}

#create {
  color: #000000;
}

#create:hover {
  color: #000000;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 5px;
}

#how {
  color: #000000;
}

#how:hover {
  color: #000000;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
}

#playnav {
  color: #000000;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 5px;
}

#login {
  color: #000000;
}

#login:hover {
  color: #000000;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 5px;
}

#logout {
  color: #000000;
}

#logout:hover {
  color: #000000;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 5px;
}

a {
  text-decoration: none;
}

a.navigation {
  margin-right: 12px;
  margin-left: 12px;
}

#gametitle {
  text-align: center;
  font-size: 16pt;
  margin: 0px;
}

#time {
  display: table;
  text-align: center;
  width: 100%;
}

#winText {
  display: table;
  text-align: center;
  font-size: 200%;
  width: 100%;
}

.card {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
  color: black;
  background-color: white;
  clear: center;
  text-align: center;
  float: center;
  border-radius: 15px;
  border: 3px solid black;
  width: 155px;
  height: 100px;
  -webkit-transition:-webkit-transform 0.5s;
  transition:transform 0.5s;
  background:#FF0;
}

#row {
  display: flex;
}

#deck {
  text-align: center;
  float: center;
  border-collapse: collapse;
  margin: 0 auto;
  display: table;
}

button:not(#pause, #restart, #quit, #play, #hint, #solve) {
  height: 25px;
  width: 25px;
  font-weight: 700;
  color: black;
  font-size: 12pt;
}

#tableHeader {
  text-align: center;
  float: center;
  width: auto;
}

#textBox {
  border-style: solid;
  border-width: medium;
  width: 30px;
}

.mine {
  text-align: center;
}

.flipping {
    transform: translate(0, 0px) rotateY(90deg);
    -webkit-transform: translate(0, 0px) rotateY(90deg);
}
